{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="regular-posts">
                <article class="post">
                    <h1>{{ post.title }}</h1>
                    <img href="#" class="category-link" src="{{ post.image }}" />
                    <p>{{ post.shortDescription }}</p>
                    <time>{{ post.publicationDate | date('d-m-Y H:i') }}</time>
                </article>
        </section>
    </div>
{% endblock %}
